@font-face {
  font-family: "Helvetica_Neue_LT_Std_77_Bold_Condensed";
  src: url("../fonts/Helvetica_Neue_LT_Std_77_Bold_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_67_Medium_Condensed_Oblique";
  src: url("../fonts/Helvetica_Neue_LT_Std_67_Medium_Condensed_Oblique.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_65_Medium";
  src: url("../fonts/Helvetica_Neue_LT_Std_65_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_57_Condensed";
  src: url("../fonts/Helvetica_Neue_LT_Std_57_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_55_Roman";
  src: url("../fonts/Helvetica_Neue_LT_Std_55_Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_47_Light_Condensed";
  src: url("../fonts/Helvetica_Neue_LT_Std_47_Light_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_45_Light";
  src: url("../fonts/Helvetica_Neue_LT_Std_45_Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font_77_bold: "Helvetica_Neue_LT_Std_77_Bold_Condensed";
  --font_67_medium: "Helvetica_Neue_LT_Std_67_Medium_Condensed_Oblique";
  --font_65_medium: "Helvetica_Neue_LT_Std_65_Medium";
  --font_57: "Helvetica_Neue_LT_Std_57_Condensed";
  --font_55_roman: "Helvetica_Neue_LT_Std_55_Roman";
  --font_47_light: "Helvetica_Neue_LT_Std_47_Light_Condensed";
  --font_45_light: "Helvetica_Neue_LT_Std_45_Light";
}

.font_77_bold {
  font-family: var(--font_77_bold) !important;
}

.font_67_medium {
  font-family: var(--font_67_medium) !important;
}

.font_65_medium {
  font-family: var(--font_65_medium) !important;
}

.font_57 {
  font-family: var(--font_57) !important;
}

.font_55_roman {
  font-family: var(--font_55_roman) !important;
}

.font_47_light {
  font-family: var(--font_47_light) !important;
}

.font_45_light {
  font-family: var(--font_45_light) !important;
}

.text_xxl {
  font-size: 56px !important;
  line-height: 1.1 !important;
}
@media (max-width: 767px) {
  .text_xxl {
    font-size: 36px !important;
  }
}

.text_xl {
  font-size: 44px !important;
  line-height: 1.2272727273 !important;
}
@media (max-width: 767px) {
  .text_xl {
    font-size: 32px !important;
  }
}

.text_xml {
  font-size: 38px !important;
  line-height: 1.0789473684 !important;
}
@media (max-width: 767px) {
  .text_xml {
    font-size: 28px !important;
  }
}

.text_lsg {
  font-size: 26px !important;
  line-height: 1.3846153846 !important;
}
@media (max-width: 767px) {
  .text_lsg {
    font-size: 20px !important;
  }
}

.text_lg {
  font-size: 20px !important;
  line-height: 1.5 !important;
}
@media (max-width: 767px) {
  .text_lg {
    font-size: 16px !important;
  }
}

.text_sm {
  font-size: 16px !important;
  line-height: 1.1875 !important;
}
@media (max-width: 767px) {
  .text_sm {
    font-size: 14px !important;
  }
}

.text_xs {
  font-size: 14px !important;
  line-height: 1.1428571429 !important;
}

.text_xss {
  font-size: 12px !important;
  line-height: 1.4166666667 !important;
}

.cta span {
  font-size: 14px !important;
  font-family: var(--font_65_medium) !important;
  letter-spacing: 1px;
}

.germany_cmn_class .am_primary-intro-content {
  position: relative;
  margin-bottom: 0px;
}
.germany_cmn_class .am_primary-intro-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: #002749;
}
@media (max-width: 767px) {
  .germany_cmn_class .am_primary-intro-content::after {
    height: 20%;
  }
}
.germany_cmn_class .am_primary-intro-content .primary-content .media {
  z-index: 1;
}
.germany_cmn_class .am_primary-intro-content .primary-content .content {
  width: 100%;
}
.germany_cmn_class .am_different {
  margin-bottom: 0px;
}
.germany_cmn_class .am_different .row-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 993px) {
  .germany_cmn_class .am_different .row-flex {
    row-gap: 30px;
  }
}
@media (max-width: 993px) {
  .germany_cmn_class .am_different .row-flex {
    row-gap: 20px;
  }
}
.germany_cmn_class .am_different .row-flex .item {
  width: 24%;
  background-color: #fff;
  padding: 50px 50px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_different .row-flex .item {
    padding: 50px 30px;
  }
}
@media (max-width: 993px) {
  .germany_cmn_class .am_different .row-flex .item {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .am_different .row-flex .item {
    padding: 30px 15px;
  }
}
.germany_cmn_class .am_different .row-flex .item:hover {
  background-color: #0085ca;
  color: #fff;
}
.germany_cmn_class .am_different .row-flex .item .icon {
  margin-bottom: 1rem;
}
.germany_cmn_class .am_different .row-flex .item p {
  font-size: 20px;
  font-weight: bold;
  width: 75%;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_different .row-flex .item p {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .am_different .row-flex .item p {
    font-size: 16px;
  }
}
.germany_cmn_class .am_key-highlights .header {
  text-align: left;
}
.germany_cmn_class .am_key-highlights .header h2 {
  margin: 0px 0px 3rem;
}
.germany_cmn_class .am_image-cards .item-content .btm-row {
  border-top: 2px solid #ddd;
  width: 90%;
  height: 1px;
  position: absolute;
  bottom: 5rem;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_image-cards .am_secondary-intro-content .container {
    padding: 0px;
  }
}
@media (max-width: 993px) {
  .germany_cmn_class .am_image-cards .am_secondary-intro-content .sidebar {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .am_intro-banner {
    padding: 50px 0px;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .am_history-content .event {
    font-size: 1.2rem;
    line-height: 1.7rem;
    left: auto;
    top: 14rem;
    max-width: 95%;
    margin: 0 auto;
    white-space: break-spaces;
  }
}
.germany_cmn_class .am_history .swiper-pagination {
  width: auto;
}
.germany_cmn_class .am_history .swiper-pagination .swiper-pagination-bullet:nth-last-child(1) {
  margin: 0px !important;
}/*# sourceMappingURL=about-us-page.css.map */