@import "variables"; //import this on each scss page you create

#index_page {
  .am_hero-slider-v2-swiper .swiper-slide .item {
    @media (max-width: 993px) {
      height: 46vh;
    }
    @media (max-width: 767px) {
      height: 70vh;
    }
  }
  .am_module {
    .am_primary-intro-content {
      padding: 0;
      margin-bottom: 5rem;
      min-height: auto;
    }
  }
  .am_features-highlights {
    margin-bottom: 5rem;
    .am_image-cards-header {
      .am_secondary-intro-content {
        background-color: transparent;
        margin-bottom: 2.5rem;
        .content {
          .title {
            color: #fff;
            width: 55%;
            @media (max-width: 1300px) {
              width: 62%;
            }
            @media (max-width: 1200px) {
              width: 70%;
            }
            @media (max-width: 767px) {
              width: 100%;
            }
          }
        }
        .sidebar {
          @media (max-width: 993px) {
            justify-content: flex-start;
          }
          .am_button {
            color: #fff;
          }
        }
      }
      .container {
        @media (max-width: 1200px) {
          padding: 0;
        }
      }
    }
    .features {
      gap: 0px;
    }
    .features-content-item {
      .am_button {
        margin-top: 2rem;
      }
      .feature-info {
        @media (min-width: 1201px) {
          width: 44%;
        }
      }
    }
    .features-list {
      padding-left: 1rem;
      min-width: 28%;
      margin-top: 0px;
      ul {
        gap: 1rem;
        li {
          a {
            font-size: 23px !important;
          }
        }
      }
      @media (max-width: 1200px) {
        display: none;
      }

      &::before {
        left: 0;
      }
      .indicator {
        left: 0;
      }
    }
  }
  .am_press-cards {
    margin-bottom: 5rem;
    .am_image-cards-header {
      .am_secondary-intro-content {
        margin-bottom: 2.5rem;
      }
    }
    // .left_section {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: space-between;
    //   @media (max-width: 1200px) {
    //     row-gap: 30px;
    //   }
    //   @media screen and (max-width: 992px) {
    //     width: 100%;
    //   }
    //   @media (min-width: 768px) and (max-width: 992px) {
    //     grid-gap: 28px;
    //   }
    //   .box {
    //     width: 31%;
    //     padding: 40px;
    //     background-color: #fff;
    //     border: 1px solid #d0efff;
    //     transition: 0.3s ease-in-out;
    //     text-decoration: none;
    //     &:hover {
    //       background-color: #0085ca;
    //       color: #fff;
    //       h5,
    //       p,
    //       span,
    //       .post {
    //         color: #fff !important;
    //       }
    //       .btn_section .btn:before {
    //         background: url(../assets/white-hover-cta.svg) no-repeat 0 0 !important;
    //       }
    //     }
    //     @media screen and (max-width: 767px) {
    //       width: 100%;
    //       padding: 30px;
    //     }
    //     @media (min-width: 768px) and (max-width: 992px) {
    //       width: 48%;
    //     }
    //     @media (min-width: 993px) and (max-width: 1200px) {
    //       width: 48%;
    //       padding: 30px 20px;
    //     }
    //     h5 {
    //       font-size: 16px;
    //       color: #8b8b8b;
    //       padding-bottom: 7px;
    //       letter-spacing: 0.5px;
    //     }
    //     p {
    //       font-size: 18px;
    //       color: #00244a;
    //       padding-bottom: 15px;
    //       letter-spacing: 0.5px;
    //       font-family: "helvetica_neue_lt_std45_light";
    //       span {
    //         // font-weight: 900;
    //         letter-spacing: 1px;
    //       }
    //       &.para_section {
    //         min-height: 170px;
    //       }
    //       b {
    //         color: #0085ca;
    //       }
    //     }
    //     .img_name {
    //       display: flex;
    //       align-items: center;
    //       padding-top: 15px;
    //       .img {
    //       }
    //       .name {
    //         padding-left: 20px;
    //         h6 {
    //           color: #292929;
    //           letter-spacing: 0.5px;
    //         }
    //       }
    //     }
    //     .read_more {
    //       margin-top: 40px;
    //       border-top: 2px solid #f2f7f9;
    //       .btn_section .btn:hover:after {
    //         width: 100%;
    //         color: #fff !important;
    //       }
    //       .btn_section {
    //         margin-top: 20px;
    //       }

    //       .btn_section .btn {
    //         padding: 0 12px 0 0;
    //         text-decoration: none;
    //         font-family: "Helvetica Neue LT Std 55 Roman";
    //         font-size: 1.25rem;
    //         line-height: 1.875rem;
    //         display: inline-flex;
    //         align-items: center;
    //         position: relative;
    //         color: #0085ca;
    //         flex-grow: 0;
    //         flex-shrink: 0;
    //         transition: all 0.3s ease;
    //         text-transform: uppercase;
    //         &:hover {
    //           color: #fff;
    //         }
    //         @media screen and (max-width: 767px) {
    //           font-size: 16px;
    //         }
    //       }

    //       .btn_section .btn span {
    //         top: 2px;
    //         position: relative;
    //         z-index: 2;
    //         height: 34px;
    //         margin-top: 2px;
    //         &:hover {
    //           color: #fff;
    //         }
    //       }

    //       .btn_section .btn:after {
    //         content: "";
    //         width: 34px;
    //         height: 36px;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         color: #fff;
    //         // background: #0085ca;
    //         z-index: 1;
    //         transition: all 0.3s ease;
    //       }

    //       .btn_section .btn:before {
    //         content: "";
    //         width: 34px;
    //         height: 34px;
    //         background: url(../assets/btn-arrow.svg) no-repeat 0 0;
    //         display: inline-flex;
    //         margin-right: 12px;
    //         position: relative;
    //         z-index: 2;
    //       }
    //     }
    //   }
    // }

    .am_image-cards-swiper {
      padding-bottom: 40px;
      .swiper-wrapper {
        .box {
          display: block;
          padding: 40px;
          background-color: #fff;
          border: 1px solid #d0efff;
          transition: 0.3s ease-in-out;
          text-decoration: none;
          &:hover {
            background-color: #0085ca;
            color: #fff;
            h5,
            p,
            span,
            .post {
              color: #fff !important;
            }
            .btn_section .btn:before {
              background: url(../assets/white-hover-cta.svg) no-repeat 0 0 !important;
            }
          }
          @media screen and (max-width: 767px) {
            width: 100%;
            padding: 30px;
          }
          @media (min-width: 993px) and (max-width: 1200px) {
            padding: 30px 20px;
          }
          h5 {
            font-size: 16px;
            color: #8b8b8b;
            padding-bottom: 7px;
            letter-spacing: 0.5px;
          }
          p {
            font-size: 18px;
            color: #00244a;
            padding-bottom: 15px;
            letter-spacing: 0.5px;
            font-family: "helvetica_neue_lt_std45_light";
            span {
              // font-weight: 900;
              letter-spacing: 1px;
            }
            &.para_section {
              min-height: 170px;
            }
            b {
              color: #0085ca;
            }
          }
          .img_name {
            display: flex;
            align-items: center;
            padding-top: 15px;
            .img {
            }
            .name {
              padding-left: 20px;
              h6 {
                color: #292929;
                letter-spacing: 0.5px;
              }
            }
          }
          .read_more {
            margin-top: 40px;
            border-top: 2px solid #f2f7f9;
            .btn_section .btn:hover:after {
              width: 100%;
              color: #fff !important;
            }
            .btn_section {
              margin-top: 20px;
            }

            .btn_section .btn {
              padding: 0 12px 0 0;
              text-decoration: none;
              font-family: "Helvetica Neue LT Std 55 Roman";
              font-size: 1.25rem;
              line-height: 1.875rem;
              display: inline-flex;
              align-items: center;
              position: relative;
              color: #0085ca;
              flex-grow: 0;
              flex-shrink: 0;
              transition: all 0.3s ease;
              text-transform: uppercase;
              &:hover {
                color: #fff;
              }
              @media screen and (max-width: 767px) {
                font-size: 16px;
              }
            }

            .btn_section .btn span {
              top: 2px;
              position: relative;
              z-index: 2;
              height: 34px;
              margin-top: 2px;
              &:hover {
                color: #fff;
              }
            }

            .btn_section .btn:after {
              content: "";
              width: 34px;
              height: 36px;
              position: absolute;
              top: 0;
              left: 0;
              color: #fff;
              // background: #0085ca;
              z-index: 1;
              transition: all 0.3s ease;
            }

            .btn_section .btn:before {
              content: "";
              width: 34px;
              height: 34px;
              background: url(../assets/btn-arrow.svg) no-repeat 0 0;
              display: inline-flex;
              margin-right: 12px;
              position: relative;
              z-index: 2;
            }
          }
        }
      }
      .swiper-button-prev {
        left: auto;
        right: 30px;
        top: auto;
        bottom: 0;
        height: 22px;
        width: 22px;
        color: #bcbcbc;
        &::after {
          font-size: 24px;
        }
      }
      .swiper-button-next {
        right: 0;
        top: auto;
        bottom: 0;
        height: 22px;
        width: 22px;
        color: #bcbcbc;
        &::after {
          font-size: 24px;
        }
      }
      .swiper-scrollbar {
        height: 2px;
        background: #bcbcbc;
        width: calc(100% - 70px);
        left: 0;
        bottom: 10px;
        .swiper-scrollbar-drag {
          height: 4px;
          background: #0085ca;
          top: -1px;
        }
      }
    }

    .am_secondary-intro-content {
      .container {
        @media (max-width: 1200px) {
          padding: 0px;
        }
      }
      .sidebar {
        @media (max-width: 993px) {
          justify-content: flex-start;
        }
      }
    }
  }
  .am_image-cards {
    .item-content {
      .btm-row {
        border-top: 2px solid #ddd;
        width: 90%;
        height: 1px;
        position: absolute;
        bottom: 5rem;
      }
    }
    .am_secondary-intro-content {
      .container {
        @media (max-width: 1200px) {
          padding: 0px;
        }
      }
      .sidebar {
        @media (max-width: 993px) {
          justify-content: flex-start;
        }
      }
    }
  }

  /* Desktop Styles */
  .features-content-item.features-content-item--show {
    display: block !important;
  }
  .features-content .features-content-item {
    display: none; /* Hide all content initially */
    transition: 0.4s ease-in-out;
    .accordion-content {
      display: flex;
    }
    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 20px;
      background-color: rgba(0, 133, 202, 13%);
      color: #d0e5ec;
      text-align: left;
      transition: 0.4s ease-in-out;
      position: relative;
      h3 {
        margin: 0;
        font-size: 23px !important;
        @media (max-width: 767px) {
          font-size: 16px !important;
        }
      }
      .icon-plus {
        position: absolute;
        top: 50%;
        right: 3%;
        background-image: url(../assets/white-plus-icon.svg);
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-size: cover;
        @media (max-width: 767px) {
          width: 20px;
          height: 20px;
        }
      }
      @media (min-width: 1201px) {
        display: none;
      }
      @media (max-width: 767px) {
        padding: 15px;
      }
      &.min-icon {
        color: #f9c20a;
        .icon-plus {
          background-image: url(../assets/white-minus-icon.svg);
        }
      }
    }
    &.active {
      display: block; /* Show the active tab content */
    }
  }
  /* Mobile Styles */
  @media (max-width: 1200px) {
    .features-content .features-content-item {
      display: block; /* Hide all items initially */
      margin-bottom: 20px;
      .accordion-content {
        display: none;
        padding: 15px;
        &.active {
          display: block; /* Show content when active */
        }
        .feature-info {
          text-align: left;
          .am_button {
            align-self: flex-start;
          }
        }
      }
    }
  }
}
