@font-face {
  font-family: "Helvetica_Neue_LT_Std_77_Bold_Condensed";
  src: url("../fonts/Helvetica_Neue_LT_Std_77_Bold_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_67_Medium_Condensed_Oblique";
  src: url("../fonts/Helvetica_Neue_LT_Std_67_Medium_Condensed_Oblique.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_65_Medium";
  src: url("../fonts/Helvetica_Neue_LT_Std_65_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_57_Condensed";
  src: url("../fonts/Helvetica_Neue_LT_Std_57_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_55_Roman";
  src: url("../fonts/Helvetica_Neue_LT_Std_55_Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_47_Light_Condensed";
  src: url("../fonts/Helvetica_Neue_LT_Std_47_Light_Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica_Neue_LT_Std_45_Light";
  src: url("../fonts/Helvetica_Neue_LT_Std_45_Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font_77_bold: "Helvetica_Neue_LT_Std_77_Bold_Condensed";
  --font_67_medium: "Helvetica_Neue_LT_Std_67_Medium_Condensed_Oblique";
  --font_65_medium: "Helvetica_Neue_LT_Std_65_Medium";
  --font_57: "Helvetica_Neue_LT_Std_57_Condensed";
  --font_55_roman: "Helvetica_Neue_LT_Std_55_Roman";
  --font_47_light: "Helvetica_Neue_LT_Std_47_Light_Condensed";
  --font_45_light: "Helvetica_Neue_LT_Std_45_Light";
}

.font_77_bold {
  font-family: var(--font_77_bold) !important;
}

.font_67_medium {
  font-family: var(--font_67_medium) !important;
}

.font_65_medium {
  font-family: var(--font_65_medium) !important;
}

.font_57 {
  font-family: var(--font_57) !important;
}

.font_55_roman {
  font-family: var(--font_55_roman) !important;
}

.font_47_light {
  font-family: var(--font_47_light) !important;
}

.font_45_light {
  font-family: var(--font_45_light) !important;
}

.text_xxl {
  font-size: 56px !important;
  line-height: 1.1 !important;
}
@media (max-width: 767px) {
  .text_xxl {
    font-size: 36px !important;
  }
}

.text_xl {
  font-size: 44px !important;
  line-height: 1.2272727273 !important;
}
@media (max-width: 767px) {
  .text_xl {
    font-size: 32px !important;
  }
}

.text_xml {
  font-size: 38px !important;
  line-height: 1.0789473684 !important;
}
@media (max-width: 767px) {
  .text_xml {
    font-size: 28px !important;
  }
}

.text_lsg {
  font-size: 26px !important;
  line-height: 1.3846153846 !important;
}
@media (max-width: 767px) {
  .text_lsg {
    font-size: 20px !important;
  }
}

.text_lg {
  font-size: 20px !important;
  line-height: 1.5 !important;
}
@media (max-width: 767px) {
  .text_lg {
    font-size: 16px !important;
  }
}

.text_sm {
  font-size: 16px !important;
  line-height: 1.1875 !important;
}
@media (max-width: 767px) {
  .text_sm {
    font-size: 14px !important;
  }
}

.text_xs {
  font-size: 14px !important;
  line-height: 1.1428571429 !important;
}

.text_xss {
  font-size: 12px !important;
  line-height: 1.4166666667 !important;
}

.cta span {
  font-size: 14px !important;
  font-family: var(--font_65_medium) !important;
  letter-spacing: 1px;
}

.germany_cmn_class {
  /* Desktop Styles */
  /* Mobile Styles */
}
.germany_cmn_class .am_features-highlights.home_services_sec .container .features-content-item .feature-info {
  justify-content: center !important;
}
@media (max-width: 993px) {
  .germany_cmn_class .am_hero-slider-v2-swiper .swiper-slide .item {
    height: 46vh;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .am_hero-slider-v2-swiper .swiper-slide .item {
    height: 70vh;
  }
}
.germany_cmn_class .am_module .am_primary-intro-content {
  padding: 0;
  margin-bottom: 5rem;
  min-height: auto;
}
.germany_cmn_class .am_features-highlights.home_services_sec {
  margin-bottom: 5rem;
}
.germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content {
  background-color: transparent;
  margin-bottom: 2.5rem;
}
.germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content .content .title {
  color: #fff;
  width: 55%;
}
@media (max-width: 1300px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content .content .title {
    width: 62%;
  }
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content .content .title {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content .content .title {
    width: 100%;
  }
}
@media (max-width: 993px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content .sidebar {
    justify-content: flex-start;
  }
}
.germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .am_secondary-intro-content .sidebar .am_button {
  color: #fff;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .am_image-cards-header .container {
    padding: 0;
  }
}
.germany_cmn_class .am_features-highlights.home_services_sec .features {
  gap: 0px;
}
.germany_cmn_class .am_features-highlights.home_services_sec .features-content-item .am_button {
  margin-top: 2rem;
}
@media (min-width: 1201px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .features-content-item .feature-info {
    width: 44%;
  }
}
.germany_cmn_class .am_features-highlights.home_services_sec .features-list {
  padding-left: 1rem;
  min-width: 28%;
  margin-top: 0px;
}
.germany_cmn_class .am_features-highlights.home_services_sec .features-list ul {
  gap: 1rem;
}
.germany_cmn_class .am_features-highlights.home_services_sec .features-list ul li a {
  font-size: 23px !important;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_features-highlights.home_services_sec .features-list {
    display: none;
  }
}
.germany_cmn_class .am_features-highlights.home_services_sec .features-list::before {
  left: 0;
}
.germany_cmn_class .am_features-highlights.home_services_sec .features-list .indicator {
  left: 0;
}
.germany_cmn_class .am_press-cards {
  margin-bottom: 5rem;
}
.germany_cmn_class .am_press-cards .am_image-cards-header .am_secondary-intro-content {
  margin-bottom: 2.5rem;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper {
  padding-bottom: 40px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box {
  display: block;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #d0efff;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box:hover {
  background-color: #0085ca;
  color: #fff;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box:hover h5,
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box:hover p,
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box:hover span,
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box:hover .post {
  color: #fff !important;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box:hover .btn_section .btn:before {
  background: url(../assets/white-hover-cta.svg) no-repeat 0 0 !important;
}
@media screen and (max-width: 767px) {
  .germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box {
    width: 100%;
    padding: 30px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box {
    padding: 30px 20px;
  }
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box h5 {
  font-size: 16px;
  color: #8b8b8b;
  padding-bottom: 7px;
  letter-spacing: 0.5px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box p {
  font-size: 18px;
  color: #00244a;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  font-family: "helvetica_neue_lt_std45_light";
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box p span {
  letter-spacing: 1px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box p.para_section {
  min-height: 170px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box p b {
  color: #0085ca;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .img_name {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .img_name .name {
  padding-left: 20px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .img_name .name h6 {
  color: #292929;
  letter-spacing: 0.5px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more {
  margin-top: 40px;
  border-top: 2px solid #f2f7f9;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn:hover:after {
  width: 100%;
  color: #fff !important;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section {
  margin-top: 20px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn {
  padding: 0 12px 0 0;
  text-decoration: none;
  font-family: "Helvetica Neue LT Std 55 Roman";
  font-size: 1.25rem;
  line-height: 1.875rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #0085ca;
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn:hover {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn {
    font-size: 16px;
  }
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn span {
  top: 2px;
  position: relative;
  z-index: 2;
  height: 34px;
  margin-top: 2px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn span:hover {
  color: #fff;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn:after {
  content: "";
  width: 34px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 1;
  transition: all 0.3s ease;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-wrapper .box .read_more .btn_section .btn:before {
  content: "";
  width: 34px;
  height: 34px;
  background: url(../assets/btn-arrow.svg) no-repeat 0 0;
  display: inline-flex;
  margin-right: 12px;
  position: relative;
  z-index: 2;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-button-prev {
  left: auto;
  right: 30px;
  top: auto;
  bottom: 0;
  height: 22px;
  width: 22px;
  color: #bcbcbc;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-button-prev::after {
  font-size: 24px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-button-next {
  right: 0;
  top: auto;
  bottom: 0;
  height: 22px;
  width: 22px;
  color: #bcbcbc;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-button-next::after {
  font-size: 24px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-scrollbar {
  height: 2px;
  background: #bcbcbc;
  width: calc(100% - 70px);
  left: 0;
  bottom: 10px;
}
.germany_cmn_class .am_press-cards .am_image-cards-swiper .swiper-scrollbar .swiper-scrollbar-drag {
  height: 4px;
  background: #0085ca;
  top: -1px;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_press-cards .am_secondary-intro-content .container {
    padding: 0px;
  }
}
@media (max-width: 993px) {
  .germany_cmn_class .am_press-cards .am_secondary-intro-content .sidebar {
    justify-content: flex-start;
  }
}
.germany_cmn_class .am_image-cards .item-content .btm-row {
  border-top: 2px solid #ddd;
  width: 90%;
  height: 1px;
  position: absolute;
  bottom: 5rem;
}
@media (max-width: 1200px) {
  .germany_cmn_class .am_image-cards .am_secondary-intro-content .container {
    padding: 0px;
  }
}
@media (max-width: 993px) {
  .germany_cmn_class .am_image-cards .am_secondary-intro-content .sidebar {
    justify-content: flex-start;
  }
}
.germany_cmn_class .home_services_sec .features-content-item.features-content-item--show {
  display: block !important;
}
.germany_cmn_class .home_services_sec .features-content .features-content-item {
  display: none; /* Hide all content initially */
  transition: 0.4s ease-in-out;
}
.germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-content {
  display: flex;
}
.germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  background-color: rgba(0, 133, 202, 0.13);
  color: #d0e5ec;
  text-align: left;
  transition: 0.4s ease-in-out;
  position: relative;
}
.germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header h3 {
  margin: 0;
  font-size: 23px !important;
}
@media (max-width: 767px) {
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header h3 {
    font-size: 16px !important;
  }
}
.germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header .icon-plus {
  position: absolute;
  top: 50%;
  right: 3%;
  background-image: url(../assets/white-plus-icon.svg);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-size: cover;
}
@media (max-width: 767px) {
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header .icon-plus {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1201px) {
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header {
    display: none;
  }
}
@media (max-width: 767px) {
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header {
    padding: 15px;
  }
}
.germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header.min-icon {
  color: #f9c20a;
}
.germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-header.min-icon .icon-plus {
  background-image: url(../assets/white-minus-icon.svg);
}
.germany_cmn_class .home_services_sec .features-content .features-content-item.active {
  display: block; /* Show the active tab content */
}
@media (max-width: 1200px) {
  .germany_cmn_class .home_services_sec .features-content .features-content-item {
    display: block; /* Hide all items initially */
    margin-bottom: 20px;
  }
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-content {
    display: none;
    padding: 15px;
  }
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-content.active {
    display: block; /* Show content when active */
  }
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-content .feature-info {
    text-align: left;
  }
  .germany_cmn_class .home_services_sec .features-content .features-content-item .accordion-content .feature-info .am_button {
    align-self: flex-start;
  }
}/*# sourceMappingURL=index.css.map */