@import "variables"; //import this on each scss page you create

#insights-page {
  .am_insights-featured {
    .item-content {
      position: relative;
      @media (max-width: 767px) {
        padding: 1rem;
      }
      .cta {
        position: absolute;
        bottom: 5%;
        width: 90%;
        border-top: 2px solid #ddd;
        padding-top: 30px;
        @media (max-width: 1200px) {
          position: relative;
          margin-top: 30px;
        }
      }
    }
    .am_insights-featured-swiper .swiper-slide .item-image > img {
      object-fit: cover;
      aspect-ratio: auto;
    }
  }
  .insights-lists-sec {
    .insight-item {
      overflow: hidden;
      .btm-row {
        border-top: 2px solid #ddd;
        width: 90%;
        height: 1px;
        position: absolute;
        bottom: 5rem;
      }
    }
    .item-image {
      img {
        width: 100%;
      }
    }
  }
}
