@import "variables"; //import this on each scss page you create

#our-talents-page {
  .am_employee-stories {
    .cta-row {
      border-top: 1px solid #d0e5ec;
      width: 100%;
      padding-top: 20px;
    }
  }
}
