@import "variables"; //import this on each scss page you create

.germany_cmn_class {
  .am_employee-stories {
    .header {
      h4 {
        margin-bottom: 1rem;
      }
    }
    .cta-row {
      border-top: 1px solid #d0e5ec;
      width: 100%;
      padding-top: 20px;
    }
    .content {
      .item {
        @media (max-width: 993px) {
          gap: 20px;
        }
        .item-content {
          h3 {
            margin: 0px;
            @media (max-width: 1200px) {
              margin: 10px 0px;
            }
            @media (max-width: 993px) {
              margin: 20px 0px;
            }
            span {
              &:nth-child(1) {
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }
  .am_employee-stories-modal {
    .am_modal-swiper {
      .swiper-scrollbar {
        bottom: -30px;
      }
    }
  }
  .am_secondary-intro-content {
    .container {
      @media (max-width: 1200px) {
        padding: 0px;
      }
    }
    .sidebar {
      @media (max-width: 993px) {
        justify-content: flex-start;
      }
    }
  }
  .am_stats-content {
    ul {
      li {
        p {
          margin-top: 1.2rem;
        }
      }
    }
  }
}
