@import "variables"; //import this on each scss page you create

#services-page {
  .am_image-cards {
    .item-content {
      .btm-row {
        border-top: 2px solid #ddd;
        width: 90%;
        height: 1px;
        position: absolute;
        bottom: 5rem;
      }
    }
  }
  .am_features-highlights {
    margin-bottom: 5rem;
    .features-content {
      width: 65%;
      @media (max-width: 992px) {
        width: 100%;
      }
      .am_image-cards {
        padding: 5rem 0;
        .am_image-cards-header {
          .title {
            color: #fff;
            font-size: 2.2rem;
            margin-bottom: 2rem;
          }
        }
      }
      .industries_sec {
        margin: 0px;
        .swiper-wrapper {
          .swiper-slide {
            .item {
              .row-flex {
                display: flex;
                align-items: center;
                border: 1px solid #68869a;
                gap: 15px;
                padding-right: 15px;
                transition: 0.3s ease-in-out;
                &:hover {
                  background-color: #0085ca;
                  .btn-plus {
                    img {
                      filter: brightness(10);
                    }
                  }
                }
                .item-image {
                  width: 40%;
                }
                .item-title {
                  color: #fff;
                  width: 55%;
                }
                .btn-plus {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
      .am_featured-experts {
        .am_featured-experts-header {
          .title {
            color: #fff;
            font-size: 2.2rem;
            margin-bottom: 2rem;
          }
        }
        .swiper-wrapper {
          .swiper-slide {
            a {
              p {
                span {
                  color: #fff;
                  &:nth-child(1) {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
        .modal-title {
          h3,
          p {
            color: #002749;
          }
        }
        .modal-location {
          color: #002749;
        }
        .modal-content {
          p {
            color: #002749;
          }
        }
      }
    }
  }

  .am_contact-form {
    padding: 0px;
    .form-container {
      border-top: 1px solid #d0e5ec;
      border-bottom: 1px solid #d0e5ec;
    }
  }
}
