@import "variables"; //import this on each scss page you create

#services-page {
  .am_image-cards {
    .item-content {
      .btm-row {
        border-top: 2px solid #ddd;
        width: 90%;
        height: 1px;
        position: absolute;
        bottom: 5rem;
      }
    }
  }
  .am_features-highlights {
    margin-bottom: 5rem;
  }
}
