<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>A&amp;M</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="css/am-styles.css">
	
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<!-- Place favicon.ico in the root directory -->
</head>
<body>
<div class="am_header">
    <div class="container">
        <div class="am_header-brand-nav">
            <div class="am_header-brand-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="am_header-brand">
                <a href="/">
                    <img class="am_header-brand-logo" src="assets/logo.svg" alt="Alvarez & Marsal" />
                </a>
            </div>
            <div class="am_header-navigation am_header-navigation--mobile">
                <div class="am_header-navigation--mobile-brand">
                    <a href="/">
                        <img class="am_header-brand-logo" src="assets/logo-reverse.svg" alt="Alvarez & Marsal" />
                    </a>
                </div>
                <div class="am_header-navigation--mobile-close"><span></span><span></span></div>
                <ul class="am_header-navigation-level1">
                        <li class="am_header-navigation-level1-item">
                            <a href="#/">Home </a>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Who we are <span class="icon-right"></span></a>
                                <ul class="am_header-navigation-level2 am_header-navigation--subnav">
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="/about-us">About us <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-1">Level 3rd Menu Item 1 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-2">Level 3rd Menu Item 2 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-3">Level 3rd Menu Item 3 </a>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/india-leadership">India Leadership </a>
                                        </li>
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="/giving-back">Giving Back <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-1">Level 3rd Menu Item 1 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-2">Level 3rd Menu Item 2 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-3">Level 3rd Menu Item 3 </a>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">What We Do <span class="icon-right"></span></a>
                                <ul class="am_header-navigation-level2 am_header-navigation--subnav">
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="">Expertise <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/business-transformation-services">Business Transformation Services </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/restructuring-and-turnaround">Restructuring &amp; Turnaround </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/transaction-advisory">Transaction Advisory </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/digital">Digital </a>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="">Industries <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/automotive-and-Industrials">Automotives &amp; Industrials </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/manufacturing">Manufacturing </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/consumer-products">Consumer Products </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/business-services">Business Services </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/energy">Energy </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/healthcare-and-life-sciences">Healthcare and Life sciences </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/financial-services">Financial services </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/media-and-entertainment">Media &amp; Entertainment </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/public-sector">Public Sector </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/real-estate">Real Estate </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/infrastructure-and-capital-projects">Infrastructure &amp; Capital projects </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/transportation-and-logistics">Transportation &amp; Logistics </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/renewables">Renewables </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/aviation">Aviation </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/pharmaceuticals">Pharmaceuticals </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/technology-services">Technology Services  </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/metals-and-mining">Metals and Mining </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/hospitality">Hospitality </a>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/insights">Insights </a>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Work With Us <span class="icon-right"></span></a>
                                <ul class="am_header-navigation-level2 am_header-navigation--subnav">
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/our-culture">Our Culture </a>
                                        </li>
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/our-talent">Our Talent </a>
                                        </li>
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/explore-roles">Explore Roles </a>
                                        </li>
                                </ul>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/contact-us">Contact Us </a>
                        </li>
                </ul>
            </div>
            <div class="am_header-navigation am_header-navigation--desktop">
                <ul class="am_header-navigation-level1">
                        <li class="am_header-navigation-level1-item">
                            <a href="#/">Home</a>

                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Who we are</a>

                                <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                    <div class="container">
                                        <ul class="am_header-navigation--subnav">
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="/about-us">About us</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-1">Level 3rd Menu Item 1</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-2">Level 3rd Menu Item 2</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-3">Level 3rd Menu Item 3</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/india-leadership">India Leadership</a>

                                                </li>
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="/giving-back">Giving Back</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-1">Level 3rd Menu Item 1</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-2">Level 3rd Menu Item 2</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-3">Level 3rd Menu Item 3</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">What We Do</a>

                                <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                    <div class="container">
                                        <ul class="am_header-navigation--subnav">
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="">Expertise</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/business-transformation-services">Business Transformation Services</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/restructuring-and-turnaround">Restructuring &amp; Turnaround</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/transaction-advisory">Transaction Advisory</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/digital">Digital</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="">Industries</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/automotive-and-Industrials">Automotives &amp; Industrials</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/manufacturing">Manufacturing</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/consumer-products">Consumer Products</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/business-services">Business Services</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/energy">Energy</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/healthcare-and-life-sciences">Healthcare and Life sciences</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/financial-services">Financial services</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/media-and-entertainment">Media &amp; Entertainment</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/public-sector">Public Sector</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/real-estate">Real Estate</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/infrastructure-and-capital-projects">Infrastructure &amp; Capital projects</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/transportation-and-logistics">Transportation &amp; Logistics</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/renewables">Renewables</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/aviation">Aviation</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/pharmaceuticals">Pharmaceuticals</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/technology-services">Technology Services </a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/metals-and-mining">Metals and Mining</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/hospitality">Hospitality</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/insights">Insights</a>

                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Work With Us</a>

                                <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                    <div class="container">
                                        <ul class="am_header-navigation--subnav">
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/our-culture">Our Culture</a>

                                                </li>
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/our-talent">Our Talent</a>

                                                </li>
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/explore-roles">Explore Roles</a>

                                                </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/contact-us">Contact Us</a>

                        </li>
                </ul>
            </div>
        </div>
        <div class="am_header-secondary">
            <div class="am_header-secondary-search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.414 20.414">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(1 1)">
                    <path id="Path_30625" data-name="Path 30625" d="M20.485,12.493A7.993,7.993,0,1,1,12.493,4.5a7.993,7.993,0,0,1,7.993,7.993Z" transform="translate(-4.5 -4.5)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                    <path id="Path_30626" data-name="Path 30626" d="M29.357,29.357l-4.382-4.382" transform="translate(-11.357 -11.357)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                    </g>
                </svg>
            </div>
            <div class="am_header-secondary-cobrand">
                <a href="https://www.alvarezandmarsal.com" target="_blank">
                <img src="assets/logo-co-brand.svg" alt="Alvarez & Marsal Global" />
                </a>
            </div>
        </div>
        <div class="am_header-search-modal">
            <div class="search-modal-container">
                <form>
                    <input type="text" placeholder="WHAT ARE YOU LOOKING FOR?" />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.414 20.414">
                        <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(1 1)">
                        <path id="Path_30625" data-name="Path 30625" d="M20.485,12.493A7.993,7.993,0,1,1,12.493,4.5a7.993,7.993,0,0,1,7.993,7.993Z" transform="translate(-4.5 -4.5)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                        <path id="Path_30626" data-name="Path 30626" d="M29.357,29.357l-4.382-4.382" transform="translate(-11.357 -11.357)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                        </g>
                    </svg>
                </form>
            </div>
        </div>
    </div>
</div><div class="content">
    <div class="am_spacer"></div>    <div class="am_intro am_intro--left">
        <div class="container">
            <div class="am_intro__content">
                <h3>Seeking action-oriented people, with an entrepreneurial edge</h3>
                <p>We focus on nurturing your skills and we offer you a breadth of opportunities, training and a safe space to innovate, collaborate and deepen your expertise as you explore new areas to do meaningful work. We pride ourselves on being an entrepreneurial culture of independent thinkers and doers who make a difference for the clients we serve.</p>
            </div>
        </div>
    </div>    <div class="am_role-search">
        <div class="container">
            <input type="text" placeholder="KEYWORKD, JOB TITLE, SKILLS" />
            <button type="button">Find Jobs</button>
        </div>
    </div>    <div class="am_module" ref="primaryIntroContentRef" >
        <div class="am_primary-intro-content am_primary-intro-content--dark am_primary-intro-content--space"  >
            <div class="container">
                <div class="primary-content">
                    <div class="content">
                            <h4 class="subtitle">Overview</h4>
                        <h2 class="title">Working at A&amp;M India</h2>
                        <div class="description">We need independent thinkers to shape the future of our firm and industry. Begin the conversation today by joining our Talent Networks below!<br/><br/>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</div>
                </div>
                    <div class="media" data-id="">
                            <img src="assets/video-poster.jpg" alt="Working at A&amp;M India" title="Working at A&amp;M India" />
                </div>
                </div>
            </div>
        </div>
    </div>    <div class="am_role-highlights">
        <div class="container">
            <div class="header">
                <h4>Lorem ipsum</h4>
                <h2>You are a good fit for A&amp;M if you are</h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <p>Action oriented individuals willing to "get dirty" and delivery</p>
                    </li>
                    <li>
                        <p>Individuals who run toward challenges and are desperate to provide solutions</p>
                    </li>
                    <li>
                        <p>Constant learners, acknowledging there is always a better way</p>
                    </li>
                    <li>
                        <p>Flexible, nimble, craving a dynamic environment, able to adapt to any scenario</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="am_hiring">
    <div class="container">
        <div class="header">
            <div class="headline">
                <h4>Hiring</h4>
                <h2>Lorem ipsum dolor sit amet consectetur adipisc elit sed do eiusmod tempor</h2>
            </div>
        </div>
        <div class="content">
            <ul>
                <li v-for="(hire, index) in hiring" :key="`hiring-${index}`">
                    <div class="item">
                        <div class="item-image">
                            <img :src="hire.list.image" :alt="hire.list.title" :title="hire.list.title" />
                        </div>
                        <div class="item-content">
                            <h3>{{hire.list.title}}</h3>
                            <p v-html="hire.list.description"></p>
                            <a href="#" @click.prevent="handleInitiativeModal(hire, index)" class="am_button"><span>Learn more</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <am-modal :state="modalState" @modalclose="handleModalClose" >
        <div class="am_hiring-modal">
            <div v-if="modalData.image" class="modal-image">
                <image :src="modalData.image" :alt="modalData.title" :title="modalData.title" />
            </div>
            <div class="modal-title">
                <h2>{{modalData.title}}</h2>
            </div>
            <div class="modal-content" v-html="modalData.content"></div>
            <div class="modal-footer">
                <div v-for="(related, index) in modalData.related" :key="`related-${index}`"  class="am_hiring-related">
                    <h3>{{related.title}}</h3>
                    <p>{{related.description}}</p>
                    <a :href="related.cta.link" class="am_button"><span>{{related.cta.title}}</span></a>
                </div>
            </div>
        </div>
    </am-modal>
</div>
<script type="text/javascript">
    window.am_hiring = [
        {
            list: {
                image: "assets/hiring-01.jpg",
                title: "Experienced professionals",
                description: "At A&M, we need independent thinkers like you to help us shape the future of our firm and industry. Your broad perspectives, deep expertise and proven performance will shine in our fast-paced culture.",
            },
            modal: {
                image: "assets/hiring-01.jpg",
                title: "Experienced professionals",
                content: `
                    <p>At A&M, we need independent thinkers like you to help us shape the future of our firm and industry. Your broad perspectives, deep expertise and proven performance will shine in our fast-paced culture.</p>
                    <p>Our entrepreneurial spirit, combined with our core values, provides a foundation for accelerated growth and delivering client value. Our approach to internal teaming ensures consistency while allowing new joiners to partner with former industry executives and learn to deliver client value.</p>
                    <p>Our heritage is based on attracting and hiring former industry executives and global consulting leaders. Our delivery approach ensures that new joiners will have the opportunity to work closely with these experienced individuals. Our team members are placed into far more business scenarios and challenges than their counterparts in industry roles or at other consulting firms and given the opportunity to learn from leading executives as they address these client needs.</p>
                    <h4>Whatever your specialty, the real-world impact of your work will make your career with us exciting, multidimensional and purposeful. You’ll have the opportunity to be a part of our extraordinary growth and an award-winning culture that will give you the ability to work on a variety of projects, grow quickly and structure your own career path without bureaucracy.</h4>
                    <p>You will never stop learning and growing your expertise and, therefore, our collective capability. Joining us means getting more connected, being truly collaborative and doing meaningful work that will contribute to your continuous progression and growth. Once you join us, you will have a range of international assignments and opportunities for collaboration across the world, which will enable you to grow your expertise and capability, whilst delivering to customer needs, and help us grow our competitiveness in the markets we serve.</p>
                    <p>More than anything, we want you to enjoy the journey with us and have fun working with amazing people!</p>
                `,
                related: [
                    {
                        title: "Consulting Careers",
                        description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                        cta: {
                            title: "Discover More",
                            link: "#"
                        }
                    },
                    {
                        title: "Corporate Careers",
                        description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                        cta: {
                            title: "Discover More",
                            link: "#"
                        }
                    }
                ]
            }
        },
        {
            list: {
                image: "assets/hiring-02.jpg",
                title: "Graduates",
                description: "You will get to work with the best people in the industry and can make an impact from day one in a supportive environment that embraces diversity and rewards merit.",
            },
            modal: {
                image: "assets/hiring-02.jpg",
                title: "Graduates",
                content: `
                    <p>You will get to work with the best people in the industry and can make an impact from day one in a supportive environment that embraces diversity and rewards merit.</p>
                    <p>Our entrepreneurial spirit, combined with our core values, provides a foundation for accelerated growth and delivering client value. Our approach to internal teaming ensures consistency while allowing new joiners to partner with former industry executives and learn to deliver client value.</p>
                    <p>Our heritage is based on attracting and hiring former industry executives and global consulting leaders. Our delivery approach ensures that new joiners will have the opportunity to work closely with these experienced individuals. Our team members are placed into far more business scenarios and challenges than their counterparts in industry roles or at other consulting firms and given the opportunity to learn from leading executives as they address these client needs.</p>
                    <h4>Whatever your specialty, the real-world impact of your work will make your career with us exciting, multidimensional and purposeful. You’ll have the opportunity to be a part of our extraordinary growth and an award-winning culture that will give you the ability to work on a variety of projects, grow quickly and structure your own career path without bureaucracy.</h4>
                    <p>You will never stop learning and growing your expertise and, therefore, our collective capability. Joining us means getting more connected, being truly collaborative and doing meaningful work that will contribute to your continuous progression and growth. Once you join us, you will have a range of international assignments and opportunities for collaboration across the world, which will enable you to grow your expertise and capability, whilst delivering to customer needs, and help us grow our competitiveness in the markets we serve.</p>
                    <p>More than anything, we want you to enjoy the journey with us and have fun working with amazing people!</p>
                `,
                related: [
                    {
                        title: "Consulting Careers",
                        description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                        cta: {
                            title: "Discover More",
                            link: "#"
                        }
                    },
                    {
                        title: "Corporate Careers",
                        description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                        cta: {
                            title: "Discover More",
                            link: "#"
                        }
                    }
                ]
            }
        },
        {
            list: {
                image: "assets/hiring-03.jpg",
                title: "Internships",
                description: "We provide all interns an opportunity to become quickly immersed in a meaningful way, putting your academic and career experiences immediately to work.",
            },
            modal: {
                image: "assets/hiring-03.jpg",
                title: "Internships",
                content: `
                    <p>We provide all interns an opportunity to become quickly immersed in a meaningful way, putting your academic and career experiences immediately to work.</p>
                    <p>Our entrepreneurial spirit, combined with our core values, provides a foundation for accelerated growth and delivering client value. Our approach to internal teaming ensures consistency while allowing new joiners to partner with former industry executives and learn to deliver client value.</p>
                    <p>Our heritage is based on attracting and hiring former industry executives and global consulting leaders. Our delivery approach ensures that new joiners will have the opportunity to work closely with these experienced individuals. Our team members are placed into far more business scenarios and challenges than their counterparts in industry roles or at other consulting firms and given the opportunity to learn from leading executives as they address these client needs.</p>
                    <h4>Whatever your specialty, the real-world impact of your work will make your career with us exciting, multidimensional and purposeful. You’ll have the opportunity to be a part of our extraordinary growth and an award-winning culture that will give you the ability to work on a variety of projects, grow quickly and structure your own career path without bureaucracy.</h4>
                    <p>You will never stop learning and growing your expertise and, therefore, our collective capability. Joining us means getting more connected, being truly collaborative and doing meaningful work that will contribute to your continuous progression and growth. Once you join us, you will have a range of international assignments and opportunities for collaboration across the world, which will enable you to grow your expertise and capability, whilst delivering to customer needs, and help us grow our competitiveness in the markets we serve.</p>
                    <p>More than anything, we want you to enjoy the journey with us and have fun working with amazing people!</p>
                `,
                related: [
                    {
                        title: "Consulting Careers",
                        description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                        cta: {
                            title: "Discover More",
                            link: "#"
                        }
                    },
                    {
                        title: "Corporate Careers",
                        description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                        cta: {
                            title: "Discover More",
                            link: "#"
                        }
                    }
                ]
            }
        }
    ]
</script>
</div>
<div class="am_footer">
    <div class="am_footer-primary">
        <div class="container">
            <div class="am_footer-branding">
                <a href="/">
                    <img class="am_header-brand-logo" src="assets/logo-reverse.svg" alt="Alvarez & Marsal" />
                </a>
            </div>
            <div class="am_footer-navigation">
                <div class="primary">
                    <ul>
                        <li><a href="#">Expertise</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Insights</a></li>
                        <li><a href="#">Industries</a></li>
                        <li><a href="#">Our People</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="secondary">
                    <ul>
                        <li><a href="#">Privacy Notice</a></li>
                        <li><a href="#">EU-US/Swiss-US Data Protection Framework Notice</a></li>
                        <li><a href="#">California Privacy Notice</a></li>
                        <li><a href="#">Cookie Notice</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="am_footer-connect">
                <div class="social">
                    <ul>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-youtube"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <label>A&amp;M Bulletin Sign-Up</label>
                    <input type="text" placeholder="EMAIL" />
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="am_footer-secondary">
        <div class="container">
            <p>&copy; Copyright 2023, Alvarez &amp; Marsal Holdings, LLC. All Rights Reserved.</p>
            <p>ALVAREZ &amp; MARSAL&reg;, A&amp;M Logo&reg;,  A&amp;M Logo&reg;, &reg; and A&amp;M&reg; are trademarks of Alvarez &amp; Marsal Holdings, LLC.</p>
            <p>Note: Alvarez &amp; Marsal employs CPAs, but is not a licensed CPA firm.</p>
        </div>
    </div>
</div>
<script src="js/am.min.js"></script>
</body>
</html>
