<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>A&amp;M</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="css/am-styles.css">
	<link rel="stylesheet" href="scss/press_page.css">
	<!-- <link rel="stylesheet" href="css/press_page.css"> -->
	
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<!-- Place favicon.ico in the root directory -->
</head>
<body>
<div class="am_header">
    <div class="container">
        <div class="am_header-brand-nav">
            <div class="am_header-brand-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="am_header-brand">
                <a href="/">
                    <img class="am_header-brand-logo" src="assets/logo.svg" alt="Alvarez & Marsal" />
                </a>
            </div>
            <div class="am_header-navigation am_header-navigation--mobile">
                <div class="am_header-navigation--mobile-brand">
                    <a href="/">
                        <img class="am_header-brand-logo" src="assets/logo-reverse.svg" alt="Alvarez & Marsal" />
                    </a>
                </div>
                <div class="am_header-navigation--mobile-close"><span></span><span></span></div>
                <ul class="am_header-navigation-level1">
                        <li class="am_header-navigation-level1-item">
                            <a href="#/">Home </a>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Who we are <span class="icon-right"></span></a>
                                <ul class="am_header-navigation-level2 am_header-navigation--subnav">
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="/about-us">About us <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-1">Level 3rd Menu Item 1 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-2">Level 3rd Menu Item 2 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-3">Level 3rd Menu Item 3 </a>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/india-leadership">India Leadership </a>
                                        </li>
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="/giving-back">Giving Back <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-1">Level 3rd Menu Item 1 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-2">Level 3rd Menu Item 2 </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/third-level-item-3">Level 3rd Menu Item 3 </a>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">What We Do <span class="icon-right"></span></a>
                                <ul class="am_header-navigation-level2 am_header-navigation--subnav">
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="">Expertise <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/business-transformation-services">Business Transformation Services </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/restructuring-and-turnaround">Restructuring &amp; Turnaround </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/transaction-advisory">Transaction Advisory </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/expertise/digital">Digital </a>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                            <a href="">Industries <span class="icon-right"></span></a>
                                                <ul class="am_header-navigation-level3 am_header-navigation--subnav">
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/automotive-and-Industrials">Automotives &amp; Industrials </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/manufacturing">Manufacturing </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/consumer-products">Consumer Products </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/business-services">Business Services </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/energy">Energy </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/healthcare-and-life-sciences">Healthcare and Life sciences </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/financial-services">Financial services </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/media-and-entertainment">Media &amp; Entertainment </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/public-sector">Public Sector </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/real-estate">Real Estate </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/infrastructure-and-capital-projects">Infrastructure &amp; Capital projects </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/transportation-and-logistics">Transportation &amp; Logistics </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/renewables">Renewables </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/aviation">Aviation </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/pharmaceuticals">Pharmaceuticals </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/technology-services">Technology Services  </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/metals-and-mining">Metals and Mining </a>
                                                        </li>
                                                        <li class="am_header-navigation-level3-item">
                                                            <a href="/industries/hospitality">Hospitality </a>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/insights">Insights </a>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Work With Us <span class="icon-right"></span></a>
                                <ul class="am_header-navigation-level2 am_header-navigation--subnav">
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/our-culture">Our Culture </a>
                                        </li>
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/our-talent">Our Talent </a>
                                        </li>
                                        <li class="am_header-navigation-level2-item">
                                            <a href="/explore-roles">Explore Roles </a>
                                        </li>
                                </ul>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/contact-us">Contact Us </a>
                        </li>
                </ul>
            </div>
            <div class="am_header-navigation am_header-navigation--desktop">
                <ul class="am_header-navigation-level1">
                        <li class="am_header-navigation-level1-item">
                            <a href="#/">Home</a>

                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Who we are</a>

                                <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                    <div class="container">
                                        <ul class="am_header-navigation--subnav">
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="/about-us">About us</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-1">Level 3rd Menu Item 1</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-2">Level 3rd Menu Item 2</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-3">Level 3rd Menu Item 3</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/india-leadership">India Leadership</a>

                                                </li>
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="/giving-back">Giving Back</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-1">Level 3rd Menu Item 1</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-2">Level 3rd Menu Item 2</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/third-level-item-3">Level 3rd Menu Item 3</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">What We Do</a>

                                <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                    <div class="container">
                                        <ul class="am_header-navigation--subnav">
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="">Expertise</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/business-transformation-services">Business Transformation Services</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/restructuring-and-turnaround">Restructuring &amp; Turnaround</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/transaction-advisory">Transaction Advisory</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/expertise/digital">Digital</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                                <li class="am_header-navigation-level2-item am_header-navigation--expandable">
                                                    <a href="">Industries</a>

                                                        <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                                            <div class="container">
                                                                <div class="am_header-navigation-level3">
                                                                    <ul class="am_header-navigation--subnav">
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/automotive-and-Industrials">Automotives &amp; Industrials</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/manufacturing">Manufacturing</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/consumer-products">Consumer Products</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/business-services">Business Services</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/energy">Energy</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/healthcare-and-life-sciences">Healthcare and Life sciences</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/financial-services">Financial services</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/media-and-entertainment">Media &amp; Entertainment</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/public-sector">Public Sector</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/real-estate">Real Estate</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/infrastructure-and-capital-projects">Infrastructure &amp; Capital projects</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/transportation-and-logistics">Transportation &amp; Logistics</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/renewables">Renewables</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/aviation">Aviation</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/pharmaceuticals">Pharmaceuticals</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/technology-services">Technology Services </a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/metals-and-mining">Metals and Mining</a>
                                                                            </li>
                                                                            <li class="am_header-navigation-level3-item">
                                                                                <a href="/industries/hospitality">Hospitality</a>
                                                                            </li>
                                                                    </ul>
                                                                </di>
                                                            </div>
                                                        </div>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/insights">Insights</a>

                        </li>
                        <li class="am_header-navigation-level1-item am_header-navigation--expandable">
                            <a href="#">Work With Us</a>

                                <div class="am_header-navigation--desktop-flyout am_header-navigation--desktop-flyout--small">
                                    <div class="container">
                                        <ul class="am_header-navigation--subnav">
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/our-culture">Our Culture</a>

                                                </li>
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/our-talent">Our Talent</a>

                                                </li>
                                                <li class="am_header-navigation-level2-item">
                                                    <a href="/explore-roles">Explore Roles</a>

                                                </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="am_header-navigation-level1-item">
                            <a href="#/contact-us">Contact Us</a>

                        </li>
                </ul>
            </div>
        </div>
        <div class="am_header-secondary">
            <div class="am_header-secondary-search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.414 20.414">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(1 1)">
                    <path id="Path_30625" data-name="Path 30625" d="M20.485,12.493A7.993,7.993,0,1,1,12.493,4.5a7.993,7.993,0,0,1,7.993,7.993Z" transform="translate(-4.5 -4.5)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                    <path id="Path_30626" data-name="Path 30626" d="M29.357,29.357l-4.382-4.382" transform="translate(-11.357 -11.357)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                    </g>
                </svg>
            </div>
            <div class="am_header-secondary-cobrand">
                <a href="https://www.alvarezandmarsal.com" target="_blank">
                <img src="assets/logo-co-brand.svg" alt="Alvarez & Marsal Global" />
                </a>
            </div>
        </div>
        <div class="am_header-search-modal">
            <div class="search-modal-container">
                <form>
                    <input type="text" placeholder="WHAT ARE YOU LOOKING FOR?" />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.414 20.414">
                        <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(1 1)">
                        <path id="Path_30625" data-name="Path 30625" d="M20.485,12.493A7.993,7.993,0,1,1,12.493,4.5a7.993,7.993,0,0,1,7.993,7.993Z" transform="translate(-4.5 -4.5)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                        <path id="Path_30626" data-name="Path 30626" d="M29.357,29.357l-4.382-4.382" transform="translate(-11.357 -11.357)" fill="none" stroke="#0085ca" strokeLinecap="square" strokeLinejoin="round" strokeWidth="2"/>
                        </g>
                    </svg>
                </form>
            </div>
        </div>
    </div>
</div>
<main class="germany_cmn_class">
    <div class="content">
        <div class="am_spacer"></div>    
        <div class="am_insights">
            <div class="container">
                <div class="am_intro am_intro--left">
                    <div class="container">
                        <div class="am_intro__content">
                            <h3 class="text_xxl font_47_light">Lorem ipsum dolor sit amet consectetur adipisc</h3>
                            <p class="text_lg font_55_roman">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam </p>
                        </div>
                    </div>
                </div>    
            </div>
                <div class="container">
                <div class="search">
                    <input type="text" placeholder="SEARCH" v-model="keyword" @input="handleSearch" />
                    <button @click="showHideFilters" type="button">Filter <span v-if="!toggleFilters && filterCount > 0">{{ filterCount }}</span></button>
                </div>
                <div class="filters" :class="toggleFilters ? 'filters--show' : ''">
                    <div class="filters-container">
                        <h4>Insight Type</h4>
                        <ul v-if="insightTypes.length > 0">
                            <li v-for="(item, index) in insightTypes" :key="item.attributes.drupal_internal__tid" @click="toggleInsightTypesFilters(item)" :class="isActiveFilter(item.attributes.drupal_internal__tid)" v-html="item.attributes.name"></li>
                        </ul>
                    </div>
                </div>
                <div class="filters-cta" :class="toggleFilters ? 'filters-cta--show' : ''">
                    <a href="#" @click.prevent="applyFilters">Apply Filters</a>
                </div>
                <div v-if="!toggleFilters && filterCount > 0" class="filters-tags">
                    <ul>
                        <li v-for="(filter, index) in selectedInsightTypes" :key="index" @click="removeInsightTypesFilter(filter)"><span v-html="filter.attributes.name"></span><span class="remove"></span></li>
                        <li @click="clearFilters"><span>Clear Filters</span> <span class="remove"></span></li>
                    </ul>
                </div>
            </div>

            <div class="container insights-lists-sec">
                <div  v-if="insights.length > 0" class="list press_page">
                    <div v-for="(item, index) in insights" :key="item.nid" class="box insight-item">
                        <a :href="item.view_node">
                            <h5 class="text_sm font_45_light">{{item.type}}</h5>
                            <p class="text_lg font_55_roman">
                            <span>Alvarez & Marsal Tax Appoints Shantini Ramachandra Managing
                                Director in Singapore</span
                            >
                            </p>
            
                            <div class="img_name">
                            <div class="img">
                                <img
                                src="assets/author-01.jpg"
                                class="img-responsive"
                                alt="shantini" />
                            </div>
                            <div class="name">
                                <h6 class="text_sm font_65_medium"><span>Shantini Ramachandra</span></h6>
                                <h6 class="post text_sm font_45_light">Managing Director | Singapore</h6>
                            </div>
                            </div>
            
                            <div class="read_more">
                                <div class="btn_section">
                                    <a href="#" class="btn cta"><span>Read More</span></a>
                                </div>
                            </div>
                        </a>
                      </div>

                 

                </div>
                <div v-if="!isLoading && insights.length === 0" class="no-results">No results found</div>
            </div>

            <input class="am_insights-api" type="hidden" value="https://stage.alvarezandmarsal.com/api/fsig/insights" />
            <input class="am_insights-type-api" type="hidden" value="https://stage.alvarezandmarsal.com/jsonapi/taxonomy_term/insights" />
        </div>
    </div>
</main>
<div class="am_footer">
    <div class="am_footer-primary">
        <div class="container">
            <div class="am_footer-branding">
                <a href="/">
                    <img class="am_header-brand-logo" src="assets/logo-reverse.svg" alt="Alvarez & Marsal" />
                </a>
            </div>
            <div class="am_footer-navigation">
                <div class="primary">
                    <ul>
                        <li><a href="#">Expertise</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Insights</a></li>
                        <li><a href="#">Industries</a></li>
                        <li><a href="#">Our People</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="secondary">
                    <ul>
                        <li><a href="#">Privacy Notice</a></li>
                        <li><a href="#">EU-US/Swiss-US Data Protection Framework Notice</a></li>
                        <li><a href="#">California Privacy Notice</a></li>
                        <li><a href="#">Cookie Notice</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="am_footer-connect">
                <div class="social">
                    <ul>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-youtube"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <label>A&amp;M Bulletin Sign-Up</label>
                    <input type="text" placeholder="EMAIL" />
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="am_footer-secondary">
        <div class="container">
            <p>&copy; Copyright 2023, Alvarez &amp; Marsal Holdings, LLC. All Rights Reserved.</p>
            <p>ALVAREZ &amp; MARSAL&reg;, A&amp;M Logo&reg;,  A&amp;M Logo&reg;, &reg; and A&amp;M&reg; are trademarks of Alvarez &amp; Marsal Holdings, LLC.</p>
            <p>Note: Alvarez &amp; Marsal employs CPAs, but is not a licensed CPA firm.</p>
        </div>
    </div>
</div>
<script src="js/am.min.js"></script>
</body>
</html>
